<div class="container">
<form method="POST" action="/create" class="button-size">
<label for="textarea1"><h3>Order Here</h3></label>
  <textarea required id="textarea1" class="materialize-textarea" type="text" name="burger"></textarea>
  <button class="waves-effect waves-light btn" type="submit">Hurry Up Fast Food</button>
</form>
<br>
<div class="row">
  <div class="col s6">
      {{#each burgers}}
      {{#unless this.devoured}}
        <img class="circle" src="../../assets/images/burgerBlack.jpeg">
          <span class="card-title"><p>Order: #{{this.id}}</p> <p>Burger: {{this.burger}} </p></span><p>Time: {{this.burger_date}}</p>
                    <form action="/update?_method=PUT" method="POST" class="button-size">
                    <input type="hidden" name="burger"  value="{{this.burger}}">
                    <button class="waves-effect waves-light btn" type="submit">Devour it!</button>
                    </form>
                    {{/unless}}
              {{/each}}
    </div>

<div class="col s6">

<h4>Devoured Burgers:</h4>
    {{#each burgers}}
      {{#if this.devoured}}
        <div class="row">
          <img class="circle" src="../../assets/images/burgerBlack.jpeg">
            <span class="card-title"><p>Order: #{{this.id}}</p> <p>Burger: {{this.burger}} </p></span><p>Time: {{this.burger_date}}</p>
        </div>
      {{/if}}
    {{/each}}
      </div>
</div>
</div>